.cartitems {
    background: #f3f3f3;
}
.cart_empty {
    display: flex;
    height: calc(100vh - 84px);
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cart_empty image {
    height: 250px;
    position: absolute;
}
.hidden {
    overflow: hidden;
}
.cartitems-main {
    background-color: #fff;
    margin: 0px 150px;
    padding: 0px 20px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr; /* Chia tỉ lệ 50-50 */
    gap: 20px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.12);
    align-items: start;
}
.cartitems-left {
    overflow-y: auto;
    min-height: 100vh;
    padding-right: 10px;
    border-right: 3px solid #ccc;
}
.cartitems hr {
    height: 1px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cartitems-info .product-img {
    max-height: 80px;
}

.cartitems-info .price {
    display: flex;
    align-items: center;
}
.cartitems-info .name {
    font-size: 18px;
}
.cartitems-info .price .new-price {
    font-size: 14px;
    font-weight: 500;
    color: #ee4d2d;
    margin-right: 10px;
}
.cartitems-left-format-main {
    display: grid;
    grid-template-columns: 3fr 1fr 1.5fr 0.5fr;
    align-items: center;
    gap: 75px;
    padding: 10px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-left-format {
    font-size: 17px;
    font-weight: 500;
}
.cartitems-quantity {
    display: flex;
    align-items: center;
    height: 32px;
}

.cartitems-quantity-value {
    width: 35px;
    padding: 6px 3px;
    border-radius: 0;
    border: 2px solid #ccc;
    border-right: 0;
    border-left: 0;
    background: #fff;
    text-align: center;
    outline: none;
    font-weight: 500;
    font-size: 14px;
}
.cartitems-quantity button:first-child {
    width: 32px;
    height: 32px;
    border: 2px solid #ccc;
    border-radius: 34px 0 0 34px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.cartitems-quantity button:last-child {
    width: 32px;
    height: 32px;
    border: 2px solid #ccc;
    border-radius: 0 34px 34px 0;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.cartitems-quantity button:hover {
    cursor: pointer;
}
.cartitems-price-total {
    color: #ee4d2d;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-right {
    flex: none;

    align-items: center;
    justify-content: center;
    padding-left: 15px;
    position: sticky;
    top: 120px;
}
.cartitems-right .pay > div {
    padding-bottom: 10px;
    cursor: pointer;
}
.cartitems-right .customer-info {
    border-bottom: 1px solid #ccc;
}

.cartitems-right .customer-info .address p {
}
.pay .on_delivery button {
    width: 350px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding-bottom: 0;
    border: none;
    color: #fff;
    background: #253b80;
    font-size: 18px;
    font-weight: 600;
}
