.cart-item-quantity {
    display: flex;
    align-items: center;
}

.cart-item-quantity button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-item-quantity button:hover {
    background-color: #0056b3;
}

.cart-item-quantity p {
    margin: 0 10px;
    font-size: 16px;
}
