.my-order {
    background: #f0f0f0;
    padding: 60px 20% 90px 20%;
    min-height: 100vh;
}
.my-order-main {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    justify-content: center;
    padding: 1px 0px 60px 0px;
}
.my-order-category {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    padding-bottom: 20px;
    background-color: #f0f0f0;
}

.my-order-category button {
    position: relative;

    padding: 8px 12px;
    border: 1px solid #253b80;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.my-order-category button.active {
    background-color: #253b80;
    color: #fff;
}
.my-order-category span {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10px;
    right: -10px;
    border-radius: 11px;
    font-size: 12px;
    font-weight: 600;
    background: red;
    color: white;
}
